<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link href="../static/index.css" rel="stylesheet">
    <link href="../static/aboutus.css" rel="stylesheet">
</head>
<body>

<!--beginning of nav bar-->
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="aboutus.html">About Us</a></li>
  <li><a href="covid.html">Covid-19</a></li>
</ul>
<!--end of nav bar-->

<div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/caldwell.png" alt="Caldwell" style="width:100%">
      <div class="container">
        <h2>Name</h2>
        <p class="title">Role</p>
        <p>Description</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../static/hector.png" alt="Hector" style="width:100%">
      <div class="container">
        <h2>Name</h2>
        <p class="title">Role</p>
        <p>Description</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../static/krystal.png" alt="Krystal" style="width:100%">
      <div class="container">
        <h2>Name</h2>
        <p class="title">Role</p>
        <p>Description</p>
      </div>
    </div>
  </div>

    <div class="column">
    <div class="card">
      <img src="../static/john.png" alt="John" style="width:100%">
      <div class="container">
        <h2>Name</h2>
        <p class="title">Role</p>
        <p>Description</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>