<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link href="../static/index.css" rel="stylesheet">
    <link href="../static/aboutus.css" rel="stylesheet">
</head>
<body>

<!--beginning of nav bar-->
<ul>
  <li><a href="http://localhost:8000/">Home</a></li>
  <li><a href="http://localhost:8000/aboutus">About Us</a></li>
  <li><a href="http://localhost:8000/covid">Covid-19</a></li>
</ul>
<!--end of nav bar-->

	<div id="header">
		<img id="profile-pic" src="../static/team.jpg" alt="image">
	</div>

<!--beginning of pictures with info-->
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/caldwell.png" alt="Caldwell" style="width:100%">
      <div class="container">
        <h2>Rebecca Caldwell</h2>
        <p class="title">Role</p>
        <p>Description</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../static/hector.png" alt="Hector" style="width:100%">
      <div class="container">
        <h2>Hector Santiago</h2>
        <p class="title">Role</p>
        <p>Description</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../static/krystal.png" alt="Krystal" style="width:100%">
      <div class="container">
        <h2>Krystal Daye</h2>
        <p class="title">Role</p>
        <p>Description</p>
      </div>
    </div>
  </div>

    <div class="column">
    <div class="card">
      <img src="../static/john.png" alt="John" style="width:100%">
      <div class="container">
        <h2>John Milton</h2>
        <p class="title">Role</p>
        <p>Description</p>
      </div>
    </div>
  </div>
</div>

<div class="column">
    <div class="card">
      <img src="../static/jas.jpg" alt="Jasmine" style="width:100%">
      <div class="container">
        <h2>Jasmine Trapier</h2>
        <p class="title">Role</p>
        <p>Description</p>
      </div>
    </div>
  </div>
</div>
<!--end of pictures with info-->

<!--beginning of footer-->
<div class="footer">
	<p> </p>
</div>
<!--end of footer-->


</body>
</html>