<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Covid-19 Projection</title>
    <link href="style.css" rel="stylesheet">
    <link href="homepageStyle.css" rel="stylesheet">

</head>
<body>
<!--nav bar-->
<ul>
  <li><a href="homepage.html">Home</a></li>
  <li><a href="aboutUs.html">About Us</a></li>
<!--extra nav in case needed
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
  -->
</ul>

<!--quaranteam image-->
<img src="../static/quaranteam.jpg" alt="team photo">
<!--heading-->
<h1>Quaranteam</h1>

<h2>
    {% for r in k %}
          <tr>
            <td>{{r}}</td>
          </tr>
          {% endfor %}
</h2>

</body>
</html>